<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="userModule">
            <directory prefix="User" suffix="Test.php" phpVersion="7.4">./tests/User</directory>
        </testsuite>
        <testsuite name="orgModule">
            <directory prefix="Org" suffix="Test.php" phpVersion="7.4">./tests/Org</directory>
        </testsuite>
        <testsuite name="houseModule">
            <directory prefix="House" suffix="Test.php" phpVersion="7.4">./tests/House</directory>
        </testsuite>
        <testsuite name="clothModule">
            <directory prefix="Cloth" suffix="Test.php" phpVersion="7.4">./tests/Cloth</directory>
            <directory prefix="Cat" suffix="Test.php" phpVersion="7.4">./tests/Cloth/Cat</directory>
            <directory prefix="Unit" suffix="Test.php" phpVersion="7.4">./tests/Cloth/Unit</directory>
            <directory prefix="Stat" suffix="Test.php" phpVersion="7.4">./tests/Cloth/Stat</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
